@page "/mailbox/{id:int}"

<PageTitle>@Mailbox.Name</PageTitle>

<h1>@Mailbox.Name</h1>

<h2>Settings</h2>
<ul>
    <li><b>HOST:</b>&nbsp;@Mailbox.ImapHost</li>
    <li><b>PORT:</b>&nbsp;@Mailbox.ImapPort</li>
    <li><b>USER:</b>&nbsp;@Mailbox.ImapUsername</li>
    <li><b>PASS:</b>&nbsp;@Mailbox.ImapPassword</li>
    <li><b>PATH:</b>&nbsp;@Mailbox.Folder</li>
</ul>

<h2>Cache information</h2>
<ul>
    <li><b>UID VALIDITY:</b>&nbsp;@Info?.Validity</li>
    <li><b>LAST CHECK:</b>&nbsp;@Info?.LastCheck.ToLocalTime()</li>
</ul>

<h2>Mails</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>X</th>
            <th>DATE</th>
            <th>FROM</th>
            <th>SUBJECT</th>
            <th>PEC TYPE</th>
            <th>PEC ID</th>
            <th>SDI TYPE</th>
            <th>SDI ID</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var mail in Cache.Mails.OrderByDescending(x => x.Date))
    {
        <tr>
            <td>@mail.Id</td>
            <td>@(mail.Uid.HasValue ? "+" : "-")</td>
            <td>@mail.Date?.ToLocalTime()</td>
            <td>@mail.From</td>
            <td>@mail.Subject</td>
            <td>@mail.PecType</td>
            <td>@mail.PecId</td>
            <td>@mail.SdiType</td>
            <td>@mail.SdiId</td>
        </tr>
    }
    </tbody>
</table>
